#file-manager-container {
  font-family: verdana;
}
.fm-grid .file-container {
  width: 10%;
  float: left;
  padding-bottom: 10%;
  height: 0;
  margin: 1%;
  border: 1px solid grey;
  /* box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07); */
  position: relative;
}
.fm-grid .file-container.active {
  border: 1px solid #4285f4;
}
.fm-grid .file-container .item {
  position: absolute;
  height: 100%;
  width: 100%;
}
.fm-grid .file-container .item .fm-thumbnail {
  height: 75%;
  /* font-size: 3em; */
  text-align: center;
  color: grey;
}
.fm-grid .type, .fm-grid .size {
  display: none;
}
.fm-grid .file-container .name {
  background-color: grey;
  color: #fff;
  height: 25%;
  text-align: center;
  line-height: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  padding: 0 8px;
}
.fm-grid .file-container.active .name {
  background-color: #4285f4;
}
.fm-grid .file-container .name span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fm-grid .file-container.active .name {
  
}

.fm-list .file-container {
  /* background-color: red; */
  width: 100%;
  clear: both;
  height: 36px;
  line-height: 36px;
  border-top: 1px solid rgba(0,0,0,.08);
  border-left: 1px solid rgba(0,0,0,.08);
  border-right: 1px solid rgba(0,0,0,.08);
}
.fm-list .file-container.active {
  background-color: #4285f4;
  color: #fff;
}
.fm-list .file-container .item {
  background-color: inherit;
}
.fm-list .fm-thumbnail, .fm-list .name, .fm-list .type, .fm-list .size {
  float: left;
}
.fm-list .fm-thumbnail {
  width: 5%;
  text-indent: -9999px;
  background-color: inherit;
}
.fm-list .name {
  width: 60%;
  background-color: inherit;
}
.fm-list .type {
  width: 20%;
  text-align: left;
  text-transform: uppercase;
  background-color: inherit;
}
.fm-list .folder .type {
  text-transform: none;
}
.fm-list .size {
  width: 15%;
  /* text-align: right; */
  background-color: inherit;
}
/* .fm-list .folder .name { */
  /* width: 70%; */
/* } */
/* .fm-list .folder .type { */
  /* width: 70%; */
/* } */